.auth_button {
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all 0.1s ease;
  border-radius: 2px;
}

@media (min-width: 1024px) {
  .auth_button {
    &:hover {
      background-color:var(--primary-color-hover);
    }
  }
}

@media (min-width: 1200px) {
  .auth_button {
    height: 52px;
    font-size: 17px;
  }
}

