@import "../../global.css";

.container {
  padding-top: 40px;

  .search_div {
    margin-bottom: 20px;
    .text {
      font-size: 14px;
      color: var(--dark-color);
      font-weight: 300;
      margin-bottom: 10px;
    }
    .search_input {
      width: 100%;
      margin: auto;
      background-color: #fff;
      border: 1px solid var(--gray-color);
      height: 50px;
      padding: 0 5px;
      box-sizing: border-box;
      color: var(--dark-color);
      padding-left: 15px;
      font-size: 14px;
      &:focus {
        border: 1.5px solid var(--primary-color);
        outline: none;
      }
    }
  }
  .sort_div {
    margin-bottom: 20px;

    .text {
      font-size: 14px;
      color: var(--dark-color);
      font-weight: 300;
      margin-bottom: 10px;
    }
    .select_wrapper {
      .select_input {
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid var(--gray-color);
        color: var(--dark-color);
        width: 100%;
        padding-left: 15px;
        font-size: 14px;
        height: 50px;
        &:focus {
          border: 1.5px solid var(--primary-color);
          outline: none;
          color: var(--dark-color);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: 7px;
    width: 100%;
    .search_div {
      width: 50%;
      .text {
        margin-bottom: 5px;
      }
      .search_input {
        height: 40px;
        font-size: 14px;
      }
    }
    .sort_div {
      margin-bottom: 20px;
      width: 50%;

      .text {
        margin-bottom: 5px;
      }
      .select_wrapper {
        display: flex;
        justify-content: space-between;
        gap: 7px;

        .select_input {
          width: 100%;
          height: 40px;
          &:focus {
            border: 1.5px solid var(--primary-color);
            outline: none;
            color: var(--dark-color);
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    .search_div {
      .text {
        margin-bottom: 7px;
      }
      .search_input {
        font-size: 15px;
      }
    }
    .sort_div {

      .text {
        margin-bottom: 7px;
      }
      .select_wrapper {

        .select_input {
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
.container {
    .search_div {
   
      .search_input {
        height: 50px;
      }
    }
    .sort_div {

   
      .select_wrapper {
        .select_input {
          height: 50px;
        }
      }
    }
  } 
}
