@import "../../global.css";

.container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  .form {
    display: flex;
    flex-direction: column;
    .left {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
      h2 {
        font-size: 18px;
        color: var(--dark-color);
        font-weight: 600;
        margin-bottom: 30px;
      }
      .image_container_wrapper {
        margin-bottom: 25px;
        border: 1px solid #e9eaf0;
        background-color: #fff;
        width: 100%;
        height: 300px;

        .hidden_input {
          display: none;
        }

        .image_container {
          position: relative;
          width: 100%;
          height: 100%;

          .image {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
          }

          .icon_text {
            position: absolute;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            bottom: 0;
            color: #fff;
            padding: 5px;
            box-sizing: border-box;
            font-size: 15px;
            cursor: pointer;
          }
        }
      }
    }
    .right {
      .personal_info {
        margin-bottom: 40px;
        label {
          display: block;
          color: var(--dark-color);
          font-size: 12px;
          margin-bottom: 10px;
          font-weight: 300;
        }
        .names_container {
          display: flex;
          flex-direction: column;
          input {
            color: var(--dark-color);

            background-color: #fff;
            height: 45px;
            border: 0.5px solid #e9eaf0;
            margin-bottom: 15px;
            padding: 10px;
            box-sizing: border-box;
            font-size: 14px;
            &:focus {
              border: 1.5px solid var(--primary-color);
              outline: none;
            }
          }
        }
        input {
          color: var(--dark-color);
          background-color: #fff;
          height: 45px;
          border: 0.5px solid #e9eaf0;
          width: 100%;
          margin-bottom: 15px;
          padding: 10px;
          font-size: 14px;
          box-sizing: border-box;
          &:focus {
            border: 1.5px solid var(--primary-color);
            outline: none;
          }
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          width: 100%;
          height: 40px;

          background-color: var(--primary-color);

          margin-bottom: 20px;
        }
      }
      .password_reset {
        h2 {
          font-size: 18px;
          color: var(--dark-color);
          margin-bottom: 30px;
          font-weight: 600;
        }
        label {
          display: block;
          color: var(--dark-color);
          font-size: 12px;
          margin-bottom: 10px;
          font-weight: 300;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          width: 100%;
          height: 40px;

          background-color: var(--primary-color);

          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: unset;

    box-sizing: border-box;
    .form {
      flex-direction: row;
      gap: 20px;

      .left {
        flex-direction: column;
        width: 40%;
        h2 {
          margin-bottom: 0;
        }
        .image_container_wrapper {
          max-width: 400px;
        }
      }
      .right {
        width: 60%;
        padding-top: 40px;
        .personal_info {
          margin-bottom: 0;
        }
        .password_reset {
          margin-top: 50px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    .form{
    gap: 40px;
    .left {
      h2 {
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 500;
      }
      .image_container_wrapper {
        max-width: 400px;
        .image_container {
          .icon_text {
            font-weight: 500;
          }
        }
      }
    }
    .right {
      .personal_info {
        margin-bottom: 0;
        label {
          font-size: 14px;
          margin-bottom: 5px;
        }
        .names_container {
          display: flex;
          flex-direction: row;
          gap: 10px;
          input {
            margin-bottom: 20px;
          }
        }
        input {
          margin-bottom: 20px;
        }
        button {
          height: 45px;
        }
      }
      .password_reset {
        margin-top: 50px;
        h2 {
          font-size: 20px;
          font-weight: 500;

          margin-bottom: 30px;
        }
        label {
          font-size: 14px;
          margin-bottom: 5px;
        }
        button {
          height: 45px;
        }
      }
    }
  }
}
}

@media (min-width: 1400px) {
  .container {
    .form{
    .left {
      h2 {
        font-size: 24px;
        font-weight: 600;
      }
      .image_container_wrapper {
        max-width: 600px;
        .image_container {
          .icon_text {
            font-size: 18px;
          }
        }
      }
    }
    .right {
      .personal_info {
        label {
          font-size: 16px;
          margin-bottom: 8px;
        }
        .names_container {
          input {
            margin-bottom: 28px;
            height: 55px;
            font-size: 16px;
          }
        }
        input {
          margin-bottom: 28px;
          height: 55px;
          font-size: 16px;
        }
        button {
          height: 50px;
          font-size: 18px;
          font-weight: 500;
        }
      }
      .password_reset {
        h2 {
          font-size: 24px;
          font-weight: 600;
        }
        label {
          font-size: 16px;
          margin-bottom: 8px;
        }
        button {
          height: 50px;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
  }
}
