@import "../../global.css";
  .container {

    label {
      font-size: 12px;
      margin-left: 20px;
      color: var(--dark-color);
      font-weight: 400;
      margin-bottom: 7px;
    }
    input {
      height: 40px;
      color: var(--dark-color);
      width: 100%;
      border: 1px solid #bababa;
      margin-bottom: 15px;
      background-color: #fff;
      &:focus {
        border-color: var(--primary-color);
        outline: none;
      }
    }
    button {
      display: flex;
      justify-items: center;
      align-items: center;
      height: 20px;
      background-color: var(--primary-color);
      color: #fff;
      font-weight: 400;
      padding: 10px;
      font-size: 12px;
      cursor: pointer;
      margin-bottom: 30px;
    }
}

@media (min-width: 1024px) {

    .container {
      label {
        font-size: 14px;
        margin-left: 20px;
        margin-bottom: 30px;
      }
      input {
        border: 1px solid var(--gray-color);
        margin-bottom: 20px;
      }
      button{
		font-weight: 500;	
      }
    }
}



@media (min-width: 1200px) {
    .container {
      label {
        font-size: 14px;
        font-weight: 500;
      }
      button {
        font-size: 13px;
      }
    }
}

