.container {
  width: 100%;
  padding-bottom: 50px;
  .categories {
    margin-top: 25px;
    .wrap_content {
      background-color: #fff;
      padding: 20px;
      box-sizing: border-box;

      .avail_delete_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .category_name {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      border-bottom: 3px solid #bbb;
      padding: 13px;
      box-sizing: border-box;
      p {
        font-size: 14px;
      }
    }
    .active {
      border-bottom: 3px solid var(--primary-color);
    }
  }
  .cars_container {
    display: grid;
    gap: 30px;
    padding: 5px;
    background-color: #fff;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 20px;
  }
  .current_search {
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .container {
    .cars_container {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    .cars_container {
      background-color: #fff;
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    .categories {
      background-color: #fff;
      padding: 20px;
      box-sizing: border-box;
      .wrap_content {
        .category_name {
          width: 50%;
          padding: 15px;
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .container {
    .categories {
      .category_name {
        padding: 20px;
        p {
          font-size: 16px;
        }
      }
    }
  }
}
