@import "../../global.css";

.card_container{
	color: var(--dark-color);
	background-color:#fff;
	display: flex;
	align-items: center;
	padding: 0 10px 0 30px;

	gap: 10px;
	
	height: 108px;
	.image{
		width: 56px;
		height: 58p;
	}
	.header_text_container{
		.total_number{
			font-size: 16px;
			margin-bottom: 10px;
			font-weight: 600;
			

		}
		/* .total_text{

		} */
	}

}


