.left {
  min-height: 100vh;
  width: 90%;
  max-width: 600px;
  margin: auto;
  background-color: #f8f8f8;

  padding-top: 30%;
  box-sizing: border-box;
  .logo_container {
    .logo_text {
      color: var(--primary-color);
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .body_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .or_container {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 0.5rem 0;

      .line {
        flex: 1;
        height: 1px;
        background-color: #ccc;
      }

      .or_text {
        padding: 0.3rem;
        color: var(--dark-color);
        font-size: 0.9rem;
        white-space: nowrap;
      }
    }

    .create_account {
      color: var(--dark-color);
      font-size: 14px;
      text-align: center;
      .sign_up {
        color: var(--primary-color);
      }
    }
  }
}

@media (min-width: 768px) {
  .left {
    .logo_container {
      .logo_text {
        font-size: 32px;
        text-align: left;
      }
    }
    .body_container {
      .create_account {
        .sign_up {
          cursor: pointer;
          &:hover {
            color: var(--primary-color-hover);
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;

    /* width: 100%; */

    .logo_container {
      .logo_text {
        font-size: 32px;
        text-align: left;
      }
    }
  }
}

@media (min-width: 1200px) {
  .left {
    .logo_container {
      .logo_text {
        font-size: 34px;
        margin-bottom: 20px;
      }
    }
    .body_container {
      .or_container {
        margin-bottom: 20px;

        .or_text {
          font-size: 1rem;
        }
      }

      .create_account {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .left {
    .body_container {
      .paragraph {
        font-size: 22px;
        line-height: 33px;
      }

      .or_container {
        margin-bottom: 30px;

        .or_text {
          font-size: 18px;
        }
      }

      .create_account {
        font-size: 18px;
        margin-top: 10px;
      }
    }
  }
}
